{% load static %}
<div class="header">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light" id="navbar">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">
                Blango
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#services" id="nav-link">Services</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#about" id="nav-link">About Us</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#" id="nav-link">Our Team</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="#" id="nav-link">Contac us</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#" id="nav-link">Blog</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>

    </div>

      <section class="hero-section">
        <div class="hero-text">
          <h1>Welcome to Blango</h1>
          <p>Your partner in business excellence.</p>
          <a href="#" class="btn btn-orange">Get Started</a>
        </div>
        <div class="hero-img">
          <img src="{% static 'assets/img/hero-img.svg' %}" alt="Hero Image" class="img-fluid">
        </div>
      </section>
</div>