{% extends 'assets/main.html' %}

{% load static %}

{% block maincontent %}
    <!-- ======= Our Services Section ======= -->
    <section id="services" class="services sections-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Our Services</h2>
        </div>

        <div class="row gy-4" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-4 col-md-6">
            <div class="service-item  position-relative">
              <div class="icon">
                <i class="bi bi-activity"></i>
              </div>
              <h3>Digital Marketing Mastery</h3>
              <p>Elevate your online presence with our comprehensive digital marketing solutions.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-broadcast"></i>
              </div>
              <h3>Public Relations Powerhouse</h3>
              <p>Shape your narrative and build strong relationships with our public relations expertise. From crafting compelling press releases to managing crisis communications, we help you maintain a positive public image.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-easel"></i>
              </div>
              <h3>Creative Design Solutions</h3>
              <p>Unleash the potential of visually stunning design. Our creative team specializes in crafting compelling graphics, logos, and branding materials that captivate your audience.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-bounding-box-circles"></i>
              </div>
              <h3>Web Development Wizardry</h3>
              <p>Transform your digital footprint with our expert web development services. Whether you need a responsive website, e-commerce platform, or custom web application.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-calendar4-week"></i>
              </div>
              <h3>Data Analytics Excellence</h3>
              <p>Unlock the power of data with our advanced analytics services. From gathering valuable insights to making data-driven decisions, our analytics team is equipped to turn raw data into actionable intelligence.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-chat-square-text"></i>
              </div>
              <h3>Strategic Consultancy Services</h3>
              <p>Navigate the complexities of business with our strategic consultancy expertise. Whether you're looking to expand, optimize operations, or enhance your market position.</p>
            </div>
          </div><!-- End Service Item -->

        </div>

      </div>
    </section><!-- End Our Services Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Testimonials</h2>
        </div>

        <div class="slides-1 swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="row gy-4 justify-content-center">
                  <div class="col-lg-6">
                    <div class="testimonial-content">
                      <p>
                        <i class="bi bi-quote quote-icon-left"></i>
                        Impact's digital marketing expertise transformed our online presence. Our website traffic has doubled, and our conversion rates have skyrocketed. We couldn't be happier with the results!
                        <i class="bi bi-quote quote-icon-right"></i>
                      </p>
                      <h3>Sarah Johnson</h3>
                      <h4>CEO, ABC Corporation</h4>
                    </div>
                  </div>
                  <div class="col-lg-2 text-center">
                    <img src="{% static 'assets/img/testimonials/testimonials-1.jpg' %}" class="img-fluid testimonial-img" alt="">
                  </div>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="row gy-4 justify-content-center">
                  <div class="col-lg-6">
                    <div class="testimonial-content">
                      <p>
                        <i class="bi bi-quote quote-icon-left"></i>
                        Impact's web development team brought our vision to life with a stunning website that perfectly represents our brand. Their attention to detail and commitment to excellence are unmatched.
                        <i class="bi bi-quote quote-icon-right"></i>
                      </p>
                      <h3>John Smith</h3>
                      <h4>Founder, XYZ Enterprises</h4>
                    </div>
                  </div>
                  <div class="col-lg-2 text-center">
                    <img src="{% static 'assets/img/testimonials/testimonials-2.jpg' %}" class="img-fluid testimonial-img" alt="">
                  </div>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="row gy-4 justify-content-center">
                  <div class="col-lg-6">
                    <div class="testimonial-content">
                      <p>
                        <i class="bi bi-quote quote-icon-left"></i>
                        Thanks to Impact's strategic consultancy services, we've successfully expanded our market reach and streamlined our operations. Their insights and guidance have been invaluable to our growth.
                        <i class="bi bi-quote quote-icon-right"></i>
                      </p>
                      <h3>Mary Williams</h3>
                      <h4>COO, Global Solutions Inc.</h4>
                    </div>
                  </div>
                  <div class="col-lg-2 text-center">
                    <img src="{% static 'assets/img/testimonials/testimonials-3.jpg' %}" class="img-fluid testimonial-img" alt="">
                  </div>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="row gy-4 justify-content-center">
                  <div class="col-lg-6">
                    <div class="testimonial-content">
                      <p>
                        <i class="bi bi-quote quote-icon-left"></i>
                        Impact's creative design solutions elevated our brand identity. The stunning visuals and cohesive branding materials they produced have left a lasting impression on our clients and partners.
                        <i class="bi bi-quote quote-icon-right"></i>
                      </p>
                      <h3>David Brown</h3>
                      <h4>Marketing Director, Innovate Solutions</h4>
                    </div>
                  </div>
                  <div class="col-lg-2 text-center">
                    <img src="{% static 'assets/img/testimonials/testimonials-4.jpg' %}" class="img-fluid testimonial-img" alt="">
                  </div>
                </div>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Frequently Asked Questions</h2>
        </div>

        <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-10">

            <div class="accordion accordion-flush" id="faqlist">

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-1">
                    <i class="bi bi-question-circle question-icon"></i>
                    What industries do you specialize in?
                  </button>
                </h3>
                <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    We specialize in a wide range of industries including technology, healthcare, finance, retail, and more. Our team has the expertise to tailor our services to meet the unique needs of your industry.
                  </div>
                </div>
              </div><!-- # Faq item-->

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-2">
                    <i class="bi bi-question-circle question-icon"></i>
                    How do you approach digital marketing campaigns?
                  </button>
                </h3>
                <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    Our approach to digital marketing is data-driven and customer-centric. We start by understanding your business goals and target audience, then create customized strategies that maximize your online visibility and engagement.
                  </div>
                </div>
              </div><!-- # Faq item-->

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-3">
                    <i class="bi bi-question-circle question-icon"></i>
                    Can you help with branding and logo design?
                  </button>
                </h3>
                <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    Yes, our creative team specializes in branding and logo design. We work closely with you to create a brand identity that reflects your vision and resonates with your target audience.
                  </div>
                </div>
              </div><!-- # Faq item-->

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-4">
                    <i class="bi bi-question-circle question-icon"></i>
                    What is your process for web development projects?
                  </button>
                </h3>
                <div id="faq-content-4" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    Our web development process includes an initial consultation, planning and strategy, design and development, testing, and deployment. We ensure that your website is fully optimized, user-friendly, and aligned with your business objectives.
                  </div>
                </div>
              </div><!-- # Faq item-->

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-5">
                    <i class="bi bi-question-circle question-icon"></i>
                    How can I measure the success of your services?
                  </button>
                </h3>
                <div id="faq-content-5" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    We provide detailed reports and analytics to measure the success of our services. Key performance indicators (KPIs) such as website traffic, conversion rates, engagement metrics, and ROI are tracked to ensure that our strategies are delivering results.
                  </div>
                </div>
              </div><!-- # Faq item-->

            </div>

          </div>
        </div>

      </div>
    </section><!-- End Frequently Asked Questions Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Contact Us</h2>
        </div>

        <div class="mb-3">
          <iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3150.8354345190924!2d144.9537363156786!3d-37.81720984245895!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad65d43f3f3f1ab%3A0x5045675218ce720!2sFlinders%20Street%20Station!5e0!3m2!1sen!2sau!4v1597372732684!5m2!1sen!2sau" frameborder="0" allowfullscreen></iframe>
        </div><!-- End Google Maps -->

        <div class="row gy-4">

          <div class="col-md-4">
            <div class="info-item  d-flex align-items-center">
              <i class="bi bi-geo-alt"></i>
              <div>
                <h3>Our Address</h3>
                <p> {{ location }} </p>
              </div>
            </div>
          </div><!-- End Info Item -->

          <div class="col-md-4">
            <div class="info-item d-flex align-items-center">
              <i class="bi bi-envelope"></i>
              <div>
                <h3>Email Us</h3>
                <p>{{ email }}</p>
              </div>
            </div>
          </div><!-- End Info Item -->

          <div class="col-md-4">
            <div class="info-item  d-flex align-items-center">
              <i class="bi bi-telephone"></i>
              <div>
                <h3>Call Us</h3>
                <p>{{ phone  }} </p>
              </div>
            </div>
          </div><!-- End Info Item -->


          <div class="col-md-4">
            <div class="info-item  d-flex align-items-center">
              <i class="bi bi-telephone"></i>
              <div>
                <h3>Open Hours</h3>
                <p>{{ open_hours }} </p>
              </div>
            </div>
          </div><!-- End Info Item -->
        </div>

        <div class="row justify-content-center mt-4">
          <div class="col-lg-9">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div><!-- End Contact Form -->

        </div>

      </div>
    </section><!-- End Contact Section -->

{% endblock %}